.div1{
    width:1000px;
    margin-left:200px;
    margin-top:20px;
    border-radius:10px;
    
}
.jumbotron{
    height:700px;
    border-radius:10px;
}
.div2{
    width:250px;
    margin-left:100px;
}