<!DOCTYPE html>
<html>
<div style=" border: 5px solid black;
  width:450px;
  background-color: white;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 100px;
  margin-left:600px;

  ">
 <img src="assets/images/54684.jpg" style="width:200px;height:200px">
<img src="assets/images/54686.jpg" style="width:200px;height:200px;padding-left: 10px;">
<h3 style="float:left;padding-right:130px">Super Heros</h3>
<h3 style="padding-left:50px">Black Panter</h3>
<img src="assets/images/54688.jpg" style="width:200px;height:200px">
<img src="assets/images/54694.jpg" style="width:200px;height:200px;padding-left: 10px;">

<h3 style="float:left;padding-right: 200px">Super Heros</h3>
<h3 style="padding-left:50px">Marvel</h3>


</div>
</html>