<div class="jumbotron">
<h5>Movie Title:-&nbsp;&nbsp; {{response.Title}}</h5>
<h5>Year:-&nbsp;&nbsp;{{response.Year}}</h5>
<h5>Movie Released Date:-&nbsp;&nbsp;{{response.Released}}</h5>
<h5>Movie Runtime:-&nbsp;&nbsp;{{response.Runtime}}</h5>
<h5>Movie Genre:-&nbsp;&nbsp;{{response.Genre}}</h5>
<h5>Movie Director:-&nbsp;&nbsp;{{response.Director}}</h5>
<h5>Movie Writer:-&nbsp;&nbsp;{{response.Writer}}</h5>
<h5>Movie Actors:-&nbsp;&nbsp;{{response.Actors}}</h5>
<h5>Movie Plot:-&nbsp;&nbsp;{{response.Plot}}</h5>
<h5>Movie Languages:-&nbsp;&nbsp;{{response.Language}}</h5>
<h5>Movie Country:-&nbsp;&nbsp;{{response.Country}}</h5>
<h5>Movie Awards:-&nbsp;&nbsp;{{response.Awards}}</h5>
<h5>Movie imdbRating:-&nbsp;&nbsp;{{response.imdbRating}}</h5>
<h5>Movie imdbVotes:-&nbsp;&nbsp;{{response.imdbVotes}}</h5>
<h5>Movie imdbID:-&nbsp;&nbsp;{{response.imdbID}}</h5>
</div>
