<!DOCTYPE html>
<html>
<div style=" border: 5px solid black;
  width:450px;
  background-color: white;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom:10px;
  padding-left: 100px;
  float:left
  ">
  <img src="assets/images/37946.jpg" style="width:200px;height:200px">
<img src="assets/images/54673.jpg" style="width:200px;height:200px;padding-left: 10px;">
<h3 style="float:left;padding-right:70px">Guardians of the Galaxy</h3>
<h3 style="padding-left:50px">Iron Man</h3>
<img src="assets/images/54676.jpg" style="width:200px;height:200px;">
<img src="assets/images/54680.jpg" style="width:200px;height:200px;padding-left: 10px;">
<h3 style="float:left;padding-right: 150px">Spider Man</h3>
<h3 style="padding-left:50px">Spider Man</h3>


</div>
</html>