.div1{
    margin-left:200px;
    margin-right:150px;
    border :5px solid lightslategray;
    border-radius:15px;
    height:600px;
    background:lightgrey;
}
.alert
{
margin-left:100px;
margin-right: 100px;
margin-top:50px;
border-radius:15px;
}
.div2{
   float: left;
    margin-top:50px;
    margin-left:100px;
    width:350px;

}
.div3{
    margin-left:600px;
    width:150px;
    margin-top:100px;

}